In [3]:
import pandas as pd

df = pd.DataFrame()
df = pd.read_csv('./train.csv')
df.head()

        ImageId                                   PredictionString
0  ID_8a6e65317  16 0.254839 -2.57534 -3.10256 7.96539 3.20066 ...
1  ID_337ddc495  66 0.163988 0.192169 -3.12112 -3.17424 6.55331...
2  ID_a381bf4d0  43 0.162877 0.00519276 -3.02676 2.1876 3.53427...
3  ID_7c4a3e0aa  43 0.126957 -3.04442 -3.10883 -14.738 24.6389 ...
4  ID_8b510fad6  37 0.16017 0.00862796 -3.0887 -3.04548 3.4977 ...

In [4]:
df["PredictionString"] = df["PredictionString"].str.split(" ", expand = False)
df.head()

        ImageId                                   PredictionString
0  ID_8a6e65317  [16, 0.254839, -2.57534, -3.10256, 7.96539, 3....
1  ID_337ddc495  [66, 0.163988, 0.192169, -3.12112, -3.17424, 6...
2  ID_a381bf4d0  [43, 0.162877, 0.00519276, -3.02676, 2.1876, 3...
3  ID_7c4a3e0aa  [43, 0.126957, -3.04442, -3.10883, -14.738, 24...
4  ID_8b510fad6  [37, 0.16017, 0.00862796, -3.0887, -3.04548, 3...

In [8]:
df['TotalCars'] = df['PredictionString'].str.len()/7

In [12]:
df['PredictionString'][0]

['16',
 '0.254839',
 '-2.57534',
 '-3.10256',
 '7.96539',
 '3.20066',
 '11.0225',
 '56',
 '0.181647',
 '-1.46947',
 '-3.12159',
 '9.60332',
 '4.66632',
 '19.339',
 '70',
 '0.163072',
 '-1.56865',
 '-3.11754',
 '10.39',
 '11.2219',
 '59.7825',
 '70',
 '0.141942',
 '-3.1395',
 '3.11969',
 '-9.59236',
 '5.13662',
 '24.7337',
 '46',
 '0.163068',
 '-2.08578',
 '-3.11754',
 '9.83335',
 '13.2689',
 '72.9323']